<div class="candidate-detail">
  <div class="pull-right">
    <button routerLink="edit" class="btn btn-primary">Edit</button>
  </div>
  <img class="img-responsive center-block"
       src="{{candidate.candidateImage}}"
       style="max-height: 20em"/>
  <h2>{{candidate.firstName}} {{candidate.lastName}}</h2>
  <span><strong>Post:</strong> {{candidatePost}}</span>
  <hr>
  <h4>Manifesto</h4>
  <span>{{candidate.manifesto}}</span>
  <div class="pull-right">
    <button [routerLink]="['/voted', candidateId]" (click)=onVote() class="btn btn-success">Vote</button>
  </div>
</div>
