.candidate-detail{
  background-color: darkgray;
  /*border: 2px solid grey;*/
  border-radius: 10px;
  padding: 10px;
  color: white;
  /*text-align: center;*/
}

.img-responsive{
  border-radius: 20px;
}

h2{
  text-align: center;
  margin-top: 10px;
}
