.candidates{
  background-color: lightgrey;
  border-radius: 4px;
  margin: 1em 0 1em 0;
  align-items: center;
  display: flex;
}
.candidate-info{
  /*top: 50%;*/
  /*vertical-align: center;*/
    padding-left: 7%;
  color: black;
}

.candidates:hover{
  background-color: grey;
}
.candidates.active {
  background-color: lightslategray;

}
