.module {
  padding: 10px;
  text-align: center;
  color: #eee;
  max-height: 100px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 10px;
  margin: 0 0 6px 0;
}

.style {
  margin-left: 10px;
}
