<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Posts</h3>
        <table class="table table-bordered table-striped bg-info">
          <thead>
          <tr>
            <th>Post Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.postName}}
              <a class="btn btn-danger pull-right style" (click)="onDelete(post)">Delete</a>
              <a class="btn btn-primary pull-right" (click)="onEdit(post)">Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-12">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.value)" novalidate>
          <div class="form-group">
            <div *ngIf="isEdit" class="col-sm-12" [ngClass]="{'has-error': f.submitted && !postName.valid }">
              <label class="col-sm-12 col-xs-12">Edit {{selectedPost.postName}} Post</label>
              <div class="col-sm-8 col-xs-8">
                <input type="text"
                       id="postName"
                       required
                       class="form-control "
                       [ngModel]="selectedPost.postName"
                       name="postName"
                       #postName ="ngModel">
              </div>

              <div class="col-sm-2 col-xs-2">
                <button class="btn btn-success pull-right" type="submit">Update</button>
              </div>

              <div class="col-sm-2 col-xs-2">
                <button class="btn btn-danger pull-right" (click)="onCancel()">Cancel</button>
              </div>
              <div *ngIf="f.submitted && !postName.valid" class="help-block col-sm-12">Post Name is required</div>
            </div>

            <div class="col-sm-12" *ngIf="!isEdit" [ngClass]="{'has-error': clicked && !newPost.valid }">
              <label class="col-sm-12">Add New Post</label>
              <div class="col-sm-10">
                <input type="text"
                       id="newPost"
                       required
                       class="form-control"
                       [ngModel]="model.postName"
                       name="newPost"
                       #newPost ="ngModel">
              </div>
              <div class="col-sm-2 pull-right">
                <a class="btn btn-success pull-right" (click)="onAdd(newPost)">
                  Submit
                </a>
              </div>
              <div *ngIf="clicked && !newPost.valid" class="help-block col-sm-12">Post Name is required</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
