<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && register(f)" novalidate>
    <div class="row">

      <div *ngIf="error && keys">
        <div class="col-sm-12" *ngFor="let key of keys">
          <div class="alert alert-danger">{{key | titlecase}}: {{error[key][0]}}</div>
        </div>
      </div>

      <div class="col-sm-5 form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">Name</label>
        <input type="text"
               id="name"
               required
               class="form-control"
               [(ngModel)]="user.name"
               name="name"
               #name = "ngModel">
        <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
      </div>

      <div class="col-sm-5 form-group" [ngClass]="{ 'has-error': f.submitted && !nin.valid }">
        <label for="nin">National Identification No</label>
        <input type="text"
               id="nin"
               required
               class="form-control"
               [(ngModel)]="user.nin"
               name="nin"
               #nin = "ngModel">
        <div *ngIf="f.submitted && !nin.valid" class="help-block">National Identification No is required</div>
      </div>

      <div class="col-sm-5 form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email Address</label>
        <input type="text"
               id="email"
               required
               class="form-control"
               [(ngModel)]="user.email"
               name="email"
               #email = "ngModel">
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>

      <div class="col-sm-5 form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               required
               class="form-control"
               [(ngModel)]="user.password"
               name="password"
               #password="ngModel">
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>

      <div class="col-sm-5 form-group" [ngClass]="{ 'has-error': f.submitted && !passwordConfirm.valid }">
        <label for="passwordConfirm">Password Confirmation</label>
        <input type="password"
               id="passwordConfirm"
               required
               class="form-control"
               [(ngModel)]="user.passwordConfirm"
               name="passwordConfirm"
               #passwordConfirm="ngModel">
        <div *ngIf="f.submitted && !passwordConfirm.valid" class="help-block">Password Confirmation is required</div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
